<strong>Olá, {{organizer}}</strong>
<p>Houve uma nova inscrição em uma Meetup que você é organizador, confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{user}} <br />
  <strong>E-mail: </strong> {{email}} <br />
  <strong>Meetup: </strong> {{meetup_id}} - {{meetup_name}} <br />
  <strong>Data/hora: </strong> {{date}} <br />
</p>
